/*---------------------------General---------------------------*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root{
   --color-platino: #ecede8;
   --color-rojizo: #8e5331;
   --color-castaño: #9b6b43;
   --color-camello: #c1a07d;
   --color-rojo: #963212;
}
.titulos{
   font-family: 'Bellota', cursive;
   font-weight: 700;
   color: var(--color-rojo);
}
.boton{
   background-color: var(--color-castaño);
   color: white;
   font-size: 1.2rem;
   font-family: 'Hind Siliguri', sans-serif;
   border: 0;
   transition: all ease-in-out 0.2s;
}
.boton:hover{
   color: white;
   transform: scale(1.03);
   background-color: var(--color-rojizo);
}
.card-icon{
   font-size: 25px;
   color: var(--color-rojizo);
}
.card-icon::before{
   color: var(--color-rojizo);
}
.color{
   background-color: var(--color-camello);
   color: white;
}
.color1{
   background-color: var(--color-castaño);
   color: white;
}
/*--------------------Seccion con Correo y telefono-------------------------*/
.bann{
   background-color: var(--color-platino);
}
.icon-ban{
   font-size: 1.1rem;
   color: var(--color-rojizo);
}
.info-ban{
   font-size: 18px;
   font-family: 'Hind Siliguri', sans-serif;
}
/*--------------------Seccion de la imagen de portada-------------------------*/
.portada{
   background-image: url(../Img/Portada-2.svg);
   height: 630px;
   width: 100%;
}
/*------------------------------Contenido------------------------*/
.single-product{
   box-shadow: inset -2px -2px 8px white,
   inset -2px -2px 12px rgba(255,255,255, .1),
   inset 2px 2px 4px rgba(255,255,255, .1),
   inset 2px 2px 8px rgba(0,0,0, .1);
   padding: 7px;
   border-radius: 12px;
   margin-bottom: 50px;
}
.single-product .product-img{
   margin-bottom: 20px;
   height: 315px;
}
img{
   display: inline-block;
   width: 100%;
   height: 100%;
}
.single-product .product-title{
   margin-bottom: 25px;
   text-align: center;
   align-items: center;
}
.single-product .product-title h3{
   font-family: 'Hind Siliguri', sans-serif;
   font-size: 21px;
   font-weight: 600;
   text-decoration: none;
}
.single-product .product-title h3:hover{
   color: var(--color-rojo);
}
.single-product:hover{
   box-shadow:-2px -2px 8px rgba(193, 160, 125, .3),
      -2px -2px 12px  rgba(193, 160, 125, .3),
   inset 2px 2px 4px rgba(255,255,255, .1),
      2px 2px 8px rgba(0,0,0, .1); 
      transform: scale(1.1);
}
.product-btns{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
a{
   text-decoration: none;
   cursor: pointer;
   transition: 0.3s;
   color: #292929;
}
.price{
   width: 70px;
   display: inline-block;
   font-size: 20px;
   padding-left: 5px;
   font-family: 'Bellota', cursive;
   text-transform: uppercase;
   transition: 0.4s;
}
.price:hover{
   color: var(--color-rojo);
}
/*------------------------Responsive-------------------------*/
@media (min-width: 992px) and (max-width: 1199px){
   .single-product .product-img{
      height: 250px;
   }
   .boton{
      font-size: 0.9rem;
      padding: 10px 10px;
   }
}
@media (min-width: 768px) and (max-width: 991px){
   .portada{
      background-position: center;
   }
   .single-product .product-img{
      height: 400px;
   }
   .price{
      padding-left: 0px;
   }
}
@media (min-width: 576px) and (max-width: 767px){
   .portada{
      background-position: center;
   }
   .single-product .product-img{
      height: 270px;
   }
}
@media (max-width: 575px){
   .single-product .product-img{
      height: 540px;
   }
}